@import "tailwindcss";





.font-inter {
  font-family: var(--font-inter), sans-serif;
}

h6 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h5 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  letter-spacing: -0.02px;
  font-size: 14px;
}
a {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 14px;
}
h4 {
  font-family: var(--font-inter), sans-serif;
  letter-spacing : -1px;
  font-weight: 300;
  font-size: 22px;
}
h1 {
  font-family: var(--font-inter), sans-serif;
  letter-spacing : -0.5px;
  font-weight: 200;
  color : white;
  font-size: 26px;
}

p {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 2ch;
color : #a9a9a9
}
h3 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 2ch;

}

label {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  letter-spacing : -0.5px;
  height : fit-content; 
  border-radius : 1.5px;
}
button{
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;

  letter-spacing : -0.5px;


}
input{
  font-family: var(--font-inter), sans-serif;
  font-weight: 200;
  font-size: 14px;
  padding: 3px 7px;
  background-color:  #000000;
  color: '#dadada';

}

@media  (min-width : 1024px){
/* Or apply directly to element selectors */
p {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2ch;
color : #a9a9a9
}
h6 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 15px;
}
h5 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  letter-spacing: -0.02px;
  font-size: 17px;
}
h3 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2ch;

}

h4 {
  font-family: var(--font-inter), sans-serif;
  letter-spacing : -1px;
  font-weight: 300;
  font-size: 22px;
}


input{
  font-family: var(--font-inter), sans-serif;
  font-weight: 200;
  font-size: 13px;
  padding: 3px 7px;
  background-color:  #101010;
  color: '#dadada';
  border-radius : 2px;

}


}